@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* ------------------------------------------------------------------------------ colours*/


.jumbotron-fluid {
  background-color: #6c00bf;
  font-family: 'Blinker', sans-serif;
}

.display-4 {
  color: #ebebeb;
}

.lead {
  color: #ebebeb;
}


/* ------------------------------------------------------------------------------ navbar styling*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6c00bf;
  font-family: 'Blinker', sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #eb7d34;
}

.navbar-brand {
  font-size: 23px;
}

/* ------------------------------------------------------------------------------ index.html - cards styling*/

.card {
  background-color: #eb7d34;
  font-family: 'Blinker', sans-serif;
  height: 410px;
}

.card-body {
  background-color: #eb7d34;
  font-family: 'Blinker', sans-serif;
}

img {
  height: 205px;
}

/* ------------------------------------------------------------------------------ timetables.html styling*/

.timetables-schedules {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}









/* ------------------------------------------------------------------------------ contact.html styling*/

.margin-bottom-10 {
  margin-bottom: 10px;
}

/* ------------------------------------------------------------------------------ footer styling*/

footer {
    background-color: #6c00bf;
    color: #fafafa;
    min-height: 120px;
    font-family: 'Blinker', sans-serif;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}

.sr-only {
  background: blue;
}
}